# .gitignore

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific
.DS_Store

# IDEs/editors
.vscode/
.idea/

# Build output
dist/
build/